html {
  background-color: #F90;
  -webkit-transform-style: preseve-3d;
  margin: 0px;
  padding: 0px;
}
.button {
  width: 50%;
  background: #555;
  display: inline-block;
  margin: 0px;
  float: left;
  cursor: pointer;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-size: 20px;
}

.button:active {
  background: #444;
}

.header {
  font-size: 32px;
  color: #EEE;
  font-weight: 300;
  text-align: center;
  margin: 0.4em 0;
}

.login-header {
  font-size: 38px;
  position: absolute;
  top: 100px;
  font-style: italic;
  margin: 10px;
}

#login-buttons {
  padding: 20px;
  background: #555;
  color: white;
  top: 350px;
  position: relative;
  margin: 10px 50px;
  border-radius: 25px;
  text-align: center;
}
#gates3 {
  background-image: url('/gates3.svg');
}
#gates4 {
  background-image: url('/gates4.svg');
}
#gates5 {
  background-image: url('/gates5.svg');
}
#gates6 {
  background-image: url('/gates6.svg');
}
#gates7 {
  background-image: url('/gates7.svg');
}
#gates8 {
  background-image: url('/gates8.svg');
}
#gates9 {
  background-image: url('/gates9.svg');
}

.is-rotated #gates3 {
  z-index: 4;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-7000px)translateZ(0px);
}
.is-rotated #gates4 {
  z-index: 5;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-5900px)translateZ(0px);
}
.is-rotated #gates5 {
  z-index: 6;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-4800px)translateZ(0px);
}
.is-rotated #gates6 {
  z-index: 7;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-3700px)translateZ(0px);
}
.is-rotated #gates7 {
  z-index: 8;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-2600px)translateZ(0px);
}
.is-rotated #gates8 {
  z-index: 9;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-1500px)translateZ(0px);
}
.is-rotated #gates9 {
  z-index: 10;
  -webkit-transform:rotateX(60deg) scaleX(0.5) scaleY(0.5) translateX(-950px) translateY(-400px)translateZ(0px);
}

.map-container {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-perspective: 10000px;
  height: 350px;
  width: 1300px;
  margin-top: -25px;

  -webkit-transform: rotateX(0deg) scaleX(1) scaleY(1) translateX(-390px);
  -webkit-filter: drop-shadow(0px 4px 1px rgba(0,0,0,0.4));
  transition: all 1s ease-in-out;

  position: relative;

}


#map circle {
  fill: rgba(0, 0, 0, 0.5);
}

#map circle.callout {
  stroke-width: 3px;
  stroke-opacity: 0.8;
  fill: none;
  stroke: red;
}

#footer {
  height: 30px;
  width: 100%;
  background: #bbb;
  position: fixed;
  bottom: 0px;
  z-index: 12;
}

.footer-button {
  height: 100%;
  width: 25%;
  text-align: center;
  border-right: 1px solid #888;
}

.marker {
  border: 3px solid #3366FF;
  -webkit-border-radius: 30px;
  height: 18px;
  width: 18px;
  position: absolute;
  left:20px;
  top:214px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0

}

@-webkit-keyframes pulsate {
  0% {
  -webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {
  -webkit-transform: scale(1.2, 1.2); opacity: 0.0;}

}

#marker-form {
  z-index: 20;
  background: rgba(0,0,0,0.3);
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

input {
  width: 100%;
  text-align: center;
  background: #666;
  border: 1px solid #555;
  color: white;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

input:focus {
  outline: none;
}

input[type="checkbox"] {
  height: 50px;
  background: #555;
}
