body {
  font-size: 10px;
}

h1 {
  font-size: 4rem;
}

#container {
  overflow-y: visible;
  font-size: 1rem;
}

.map-container {
  min-height: 500px;
  overflow: auto;
}

#map-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;

  text-align: center;
  font-size: 2rem;
}

.popup {
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 100px;
}